{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Fav Book</a>

        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" 
        aria-expanded="true" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="registration">Registration<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <br>
    <div class = "container">
            {% if user.is_authenticated %}
                <p class="display-4">Hello, {{ user.username }}</p>
                <a href="{% url 'logout' %}" >
                    <img src= "{% static "logout.png" %}" alt="Logout" width="40" height="50">
                </a>
            
            {% else %}
                <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">
                    <img src= "{% static "google.png" %}" alt="Google" width="90" height="100">
                </a>
            {% endif %}
        <br><br>
        
        <input type="text" name="search">
        <button class="btn" id="search"> Search </button>

        <h2 id= "jumlahBuku" style = "text-align: center">
            <i class='fa fa-star'style = 'color : orange'> </i> 0
        </h2>
        <table class = "table-responsive table table-hover table table-stripped" id = "tableBuku"> 
        </table>
    </div>

</body>
</html>
{% endblock %}