{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
<body background="{% static 'background.jpg' %}">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Registration</a>

        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="\">Fav Book<span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
        </div>
    </nav>
        
    <section>
        <div class="row">
            <div class = "col-md-3">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-regis">
                    <form id="form" method="POST">
                        <br><br>
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input id="submit_regis" type="submit" class="btn btn-lg btn-block btn-info"  data-toggle="modal" data-target="#myModal" disabled>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>
{% endblock %}